@use "/src/sass/base/variables.scss" as *;

.catalog {
    padding: 50px 0 60px 0;


    &__title {
        margin-top: 50px;
    }

    &__tabs {

        max-width: 460px;
        margin-top: 60px;
        padding: 13px 25px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 13px;
        border: 1px solid $dark;
    }

    &__tab {
        position: relative;
        padding: 0;
        border: none;
        background: none;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        color: $dark;

        &_active::before {
            content: "";
            position: absolute;
            bottom: -2px;
            width: 100%;
            height: 1px;
            background-color: $dark;
        }
    }

    &__content {
        margin-top: 60px;

        &-item {
            display: flex;
            flex-direction: column;
            // flex-wrap: wrap;
            gap: 20px;
            align-items: flex-start;
        }
    }

    .product-card {
        display: block;
        width: 100%;
        padding: 0;
        border: none;
        background: none;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;

        &__img {
            width: 100%;
            height: 55vw;
            max-height: 330px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__info {
            padding: 11px 12px 16px 12px;
            border: 1px solid $dark;
            border-top: none;
        }

        &__title {
            font-weight: 500;
            font-size: 16px;
            color: $dark;
            text-align: left;
        }

        &__cost {
            margin-top: 8px;
            text-align: left;

            strong {
                font-weight: 500;
                font-size: 16px;
                color: $dark;

            }
        }
    }
}

@media screen and (min-width: 768px) {
    .catalog {
        &__title {
            margin-top: 60px;
        }

        &__content-item {
            padding: 10px;
            position: relative;
            flex-direction: row;
            flex-wrap: wrap;

            &::before {
                content: "";
                width: 200px;
                height: 1px;
                background-color: $dark;
                position: absolute;
                top: 0;
                left: 0;
            }

            &::after {
                content: "";
                width: 1px;
                height: 200px;
                background-color: $dark;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .product-card {
            width: 340px;

            &__img {
                height: 198px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .catalog {

        &__content-item {
            padding: 25px;
            gap: 35px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .catalog {
        padding: 40px 0 100px 0;

        &__title {
            margin-top: 100px;
        }

        &__content-item {
            gap: 83px;
        }

        .product-card {
            width: 285px;
            height: 250px;

            &__img {
                height: 180px;
            }
        }
    }
}