@use "/src/sass/base/variables.scss" as *;

.git {
    padding-top: 60px;

    .just-validate-error-field {
        border: none;
        outline: 1px solid $ui-error;
    }

    &__wrapper {
        margin-top: 60px;
    }

    &__img {
        display: none;
    }

    &__fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }

    &__label {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
        color: $dark;

        &:nth-child(2) {
            margin-top: 8px;
        }
    }

    &__input {
        border: 1px solid #e2e1e5;
        border-radius: 2px;
        padding: 10px 15px;
        width: 100%;
        height: 48px;
        color: $dark;
        background: #fff;

        &:focus {
            border: none;
            outline: 1px solid $dark;
        }

        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
        }
    }

    &__textarea {
        border: 1px solid #e2e1e5;
        border-radius: 2px;
        padding: 10px 15px;
        width: 100%;
        height: 132px;
        color: $dark;
        background: #fff;
        resize: none;

        &:focus {
            border: none;
            outline: 1px solid $dark;
        }

        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
        }
    }

    &__check-block {
        margin-top: 20px;
        display: flex;
        align-items: center;

        a {
            margin-left: 3px;
            color: #a22dc6;
            text-decoration: none;
        }

        .just-validate-error-field {
            border: none;
            outline: 1px solid $dark;
        }
    }

    &__checkbox {
        margin-right: 15px;
        appearance: none;
        width: 16px;
        height: 16px;
        border: 1px solid $dark;
        border-radius: 2px;
        cursor: pointer;

        &:checked {
            background-color: #a22dc6;
            color: $light;
            border: none;

            &::after {
                content: "✓";
                display: block;
                text-align: center;
                line-height: 16px;
            }
        }
    }

    &__btn {
        margin-top: 20px;
    }

    &__icon {
        display: none;
    }

    &__about-section {
        padding-top: 60px;
    }
}

@media screen and (min-width: 768px) {
    .git {

        .container {
            position: relative;
        }

        &__wrapper {
            margin-top: 45px;
        }

        &__form-wrapper {
            padding-left: 24px;
        }

        &__input {
            width: 300px;
        }

        &__textarea {
            width: 300px;
        }

        &__icon {
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 85px;
            height: 85px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .git {
        &__img {
            display: block;
            width: 550px;
            height: 341px;
            object-fit: cover;
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        }

        &__form-wrapper {
            padding-left: 20px;
        }

        &__input {
            &:hover {
                border: none;
                outline: 1px solid $dark;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .git {
        &__img {
            width: 100%;
            height: 355px;
            object-fit: cover;
        }

        &__form-wrapper {
            padding-left: 147px;
        }

        &__fieldset {
            display: flex;
            gap: 45px;
        }

        &__about-section {
            padding-top: 100px;
        }
    }
}