@use "/src/sass/base/variables.scss" as *;

.header {
    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 100px;
        height: 100px;
    }

    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 15px;

        a {
            display: block;
            color: $dark;

            span {
                display: block;
                width: 20px;
                height: 20px;
            }
        }
    }

    &__nav {
        display: none;
    }

    &__menu {
        padding: 50px 10px;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: $light;
        top: 0;
        left: -100vw;
        transition: all 0.7s;

        &_active {
            transform: translateX(100%);
        }

        &-close {
            width: 20px;
            height: 20px;

            span {
                display: block;
                width: 20px;
                height: 1px;
                background-color: $dark;

                &:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }

                &:nth-child(2) {
                    transform: translateY(8px) rotate(-45deg);
                }
            }
        }

        &-nav {
            margin-top: 50px;
            padding-left: 14px;

            ul {
                padding: 0;
                list-style-type: none;

                li {
                    margin-top: 25px;

                    &:nth-child(1) {
                        margin-top: 0;
                    }
                }
            }
        }

        &-link {
            display: block;
            text-decoration: none;
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            color: $dark;
            width: calc(100% - 14px);
        }
    }
}

.burger {
    display: flex;
    height: 23px;
    flex-direction: column;
    gap: 10px;
    padding-right: 35px;

    span {
        display: block;
        width: 20px;
        height: 1px;
        background-color: $dark;
    }
}

@media screen and (min-width: 768px) {
    .burger {
        visibility: hidden;
    }

    .header {

        &__nav {
            display: block;
            margin-top: 20px;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
                list-style-type: none;
                padding: 0;
            }
        }

        &__link {
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            color: $dark;
            text-decoration: none;
        }

        &__menu {
            display: none;
        }
    }
}

@media screen and (min-width: 1920px) {
    .header {

        &__logo {
            width: 150px;
            height: 150px;
        }

        &__nav {
            margin-top: 36px;

            ul {
                gap: 60px;
            }
        }
    }
}