@use "/src/sass/base/variables.scss" as *;

.header {
    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 100px;
        height: 100px;
    }

    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 15px;

        a {
            display: block;
            color: $dark;

            span {
                display: block;
                width: 20px;
                height: 20px;
            }
        }
    }

    &__nav {
        display: none;
    }
}

.burger {
    display: flex;
    height: 23px;
    flex-direction: column;
    gap: 10px;
    padding-right: 35px;

    span {
        display: block;
        width: 20px;
        height: 1px;
        background-color: $dark;
    }
}

@media screen and (min-width: 768px) {
    .burger {
        visibility: hidden;
    }

    .header {

        &__nav {
            display: block;
            margin-top: 20px;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
                list-style-type: none;
                padding: 0;
            }
        }

        &__link {
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            color: $dark;
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 1920px) {
    .header {

        &__logo {
            width: 150px;
            height: 150px;
        }

        &__nav {
            margin-top: 36px;

            ul {
                gap: 60px;
            }
        }
    }
}