@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    40% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0%) rotate(90deg);

    }

    65% {
        transform: scale(150%) rotate(-45deg);
    }

    100% {
        transform: scale(100%) rotate(0deg);
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(20%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}